@page "/items/{itemId}"
@model ItemDetails
@{ ViewData["Title"] = "ItemDetails"; }

<div>
    <h3>@Model.SelectedItem?.Name</h3>
    
    <form method="post">
        <input type="hidden" value="@Model.SelectedItem.ItemId" name="itemId" />
        <label for="name">Sted</label>
        <input list="locations" value="@Model.SelectedItem.Location" name="newLocation">
        <datalist id="locations" >
            @foreach (var location in @Model.PossibleLocations)
            {
                <option value="@location" />
            }
        </datalist>
        <input type="submit" value="Lagre"/>
    </form>

    @if(!string.IsNullOrEmpty(Model.SelectedItem.ImageFilename)) 
    {
        <img src="/@Model.SelectedItem.ImageFilename" class="small-image"/>
    }
</div>
